@import '../bootstrap.overrides';

// TODO: redo this shit, this is terrible
$header-height: 70px;
$header-font-color: #fff;

header {
  background-color: $primary;
  height: $header-height;
  font-family: $headings-font-family;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  // Header links
  a {
    color: $header-font-color;
    padding: 25px 15px;
    transition: background-color $transition-time ease;
  }

  a:hover {
    transition: background-color $transition-time ease;
    background-color: transparent;
  }

  a:focus {
    transition: background-color $transition-time ease;
    background-color: transparent;
  }

  // Header brand
  .navbar-header {
    .navbar-brand {
      text-transform: none;
      font-weight: normal;
      font-size: 20px;
      height: 100%;
      cursor: pointer;
      color: $header-font-color;
      padding: 20px 0;
    }
  }

  // Hamburger Toggler
  .navbar-toggler {
    padding: 13px 10px;

    .icon-bar {
      display: block;
      background-color: $header-font-color;
      width: 30px;
      height: 2px;
    }

    .icon-bar + .icon-bar {
      margin-top: 10px;
    }
  }

  // Header menu links (collapses on < md)
  .collapse.navbar-collapse {
    .navbar-nav {
      li {
        margin-left: 30px;
        text-align: center;

        a {
          color: $header-font-color;
          text-transform: uppercase;
        }

        a:hover {
          color: $header-font-color;
          background-color: lighten($primary, 5%);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
