@import '~@angular/material/core/theming/all-theme';

@import './variables';
@import './type';
@import './forms';
@import './icons';
@import './material';


body {
  background-color: $primary1;
  overflow-x: hidden;
  overflow-y: auto;
}

.accent-color {
    color: $accent1;
}

::selection {
  background: rgba(red($accent1), green($accent1), blue($accent1), 0.3);
}

::-moz-selection {
  background: rgba(red($accent1), green($accent1), blue($accent1), 0.3);
}
