<h1 class="page-header">Topics of Interest</h1>
<p>Some shitty intro about the shitty topics on this shitty blog</p>

<div class="row">
    <div class="col-md-3">
        <md-card>
            <img md-card-image src="assets/img/keyboard.jpeg">
            <md-card-title>Software Development</md-card-title>
            <md-card-content>
                <p>Focusing primarily on web development</p>
            </md-card-content>
        </md-card>
    </div>
    <!--<div class="col-md-3">-->
        <!--<md-card>-->
            <!--<img md-card-image src="assets/img/keyboard.jpeg">-->
            <!--<md-card-title>Politics</md-card-title>-->
            <!--<md-card-content>-->
                <!--<p>Some small description.</p>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<md-card>-->
            <!--<img md-card-image src="assets/img/keyboard.jpeg">-->
            <!--<md-card-title>Science</md-card-title>-->
            <!--<md-card-content>-->
                <!--<p>Some small description.</p>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<md-card>-->
            <!--<img md-card-image src="assets/img/keyboard.jpeg">-->
            <!--<md-card-title>Philosophy</md-card-title>-->
            <!--<md-card-content>-->
                <!--<p>Some small description.</p>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
    <!--</div>-->
</div>
