<div id="content">
    <div id="splash">
        <div id="jumbotron-container">
            <div class="jumbotron">
                <h1>Craig A. Green</h1>
                <h4><i>Full Stack Developer</i>&nbsp;&nbsp;| <i>Tech Enthusiast</i></h4>
                <button id="contact" class="btn btn-default">Contact</button>
                <button id="profile" class="btn btn-primary">Profile</button>
            </div>
        </div>
    </div>

    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Some Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet mauris ut mi suscipit facilisis. Etiam commodo turpis at velit interdum interdum. Maecenas non mauris sed arcu viverra accumsan non quis eros. Morbi consequat turpis sagittis magna tincidunt, condimentum egestas quam euismod. Aenean congue luctus dapibus. Vestibulum pulvinar eu libero quis sollicitudin. Phasellus augue felis, dignissim non auctor tristique, porta a eros.</p>
                    <p>Ut ultricies purus sed purus cursus fringilla. Sed ac nulla gravida, tincidunt dolor quis, efficitur orci. Donec sit amet nunc vulputate, ultricies velit vitae, volutpat massa. Donec at orci ac nibh commodo varius. Fusce euismod efficitur dolor luctus imperdiet. Cras faucibus lectus in metus pulvinar mollis. Quisque a hendrerit felis. Vestibulum eu sapien eget lectus tempus viverra. Cras vulputate tempor quam, vel euismod ligula egestas consectetur. Proin ac eros congue, malesuada ex non, auctor odio.</p>
                    <h1 class="page-header">Some Heading 2</h1>
                    <p>Ut ultricies purus sed purus cursus fringilla. Sed ac nulla gravida, tincidunt dolor quis, efficitur orci. Donec sit amet nunc vulputate, ultricies velit vitae, volutpat massa. Donec at orci ac nibh commodo varius. Fusce euismod efficitur dolor luctus imperdiet. Cras faucibus lectus in metus pulvinar mollis. Quisque a hendrerit felis. Vestibulum eu sapien eget lectus tempus viverra. Cras vulputate tempor quam, vel euismod ligula egestas consectetur. Proin ac eros congue, malesuada ex non, auctor odio.</p>
                </div>
            </div>
        </div>
    </div>
</div>
