<div id="content">
  <div id="splash">
    <div id="jumbotron-container">
      <div class="jumbotron">
        <h1>Craig A. Green</h1>
        <h4><i>Full Stack Developer</i>&nbsp;&nbsp;| <i>Tech Enthusiast</i></h4>
        <button routerLink="/contact" id="contact" class="btn btn-default">Contact</button>
        <button routerLink="/profile" id="profile" class="btn btn-primary">Profile</button>
      </div>
    </div>
  </div>

  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 class="page-header">Introduction</h1>
          <p>Some high level stuff about me, what I've worked on, what I like to work on, etc</p>

          <h1 class="page-header">Purpose of This Site</h1>
          <p>What I expect to get out of this site, what the reader can expect. Topics I like to explore and write about.
            Example topics.</p>

          <h1 class="page-header">Precaution to the Reader</h1>
          <p>What the reader should know about me or my posts before reading. Essentially, read - but read with these
           bits of information in mind.</p>
        </div>
      </div>
    </div>
  </div>
</div>
